.normal-banner {
    .wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        max-height: 230px;
    }

    .bg {
        margin-right: -100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 2;

        h2 {
            font-weight: bold;

            span {
                font-weight: 300;
            }
        }
    }

    .link{
        a {
            @include button("borders");
            border-color: #15151533;
            color: var(--c-title);
        }
    }
}


/* contact us section */
.contact-sec {
    .wrapper {
        background-color: var(--c-white);
        border-radius: 15px;
        box-shadow: 0px 0px 60px 30px #00000008;
        margin-bottom: 30px;
        padding: 15px;

        @include breakpoint($xl) {
            padding: 30px;
        }

        .contact-info {
            background-color: #011C2B;
            color: var(--c-white);
            padding: 40px 30px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                width: 140px;
                height: 140px;
                bottom: 10%;
                right: 5%;
                border-radius: 50%;
                background-color: #FFF9F921;
            }

            &::before {
                content: '';
                position: absolute;
                width: 250px;
                height: 250px;
                bottom: 0;
                right: 0;
                border-radius: 50%;
                background-color: #FFF9F921;
                // opacity: 0.5;
                transform: translate(40%, 40%);
            }

            h4 {
                color: var(--c-white);
                font-weight: bold;
            }

            p {
                color: var(--c-white);
            } 


            ul {
                padding: 25px 0 0;
                margin: 0;
                list-style: none;
                @include breakpoint($xl){
                    padding: 55px 0 0;
                    max-width: 70%;
                }

                li {
                    margin-bottom: 25px;
                    @include breakpoint($md){
                        margin-bottom: 55px;
                    }
                   

                   i, svg{
                        margin-right: 20px;
                        min-width: 20px;
                        max-width: 20px;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        align-items: flex-start;
                    }
                }
            }


            ol {
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                margin: 60px 0 0;
                @include breakpoint($md){
                    margin: 100px 0 0;
                }

                li {
                    margin-right: 20px;

                    span {
                        
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        width: 42px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background-color: var(--c-white);
                        color: var(--c-title);
                        border-radius: 50%;
                        transition: all .32s ease-in-out;

                        &:hover {
                            background-color: var(--c-primary);
                            color: var(--c-white);
                        }

                        svg {
                            width: 20px;
                        }
                    }
                }
            }

        }
    }
}



.form-outer {
    padding: 40px 15px 0;

    @include breakpoint($lg) {
        padding: 0 10%;
    }

    label {
        margin: 0;
    }


    .row {
        &>div {
            margin-bottom: 42px !important;
        }
    }

    .form-control {
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid var(--c-title);
        border-radius: 0px;
        box-shadow: none;
    }


    .radio-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        label {
            font-size: 12px;
            font-weight: 500;
        }

        .form-check {
            padding-right: 15px;
            @include breakpoint($md){
                padding-right: 30px;
            }
        }


        .form-check-input {
            border:none;
            width: 20px;
            height: 20px;
            aspect-ratio: 1/1;
            box-shadow: none;
            background-color: #E0E0E0;
        }

        .form-check-input:checked[type="radio"] {
            background-color: var(--c-black);
            --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }

        label {
            // font-size: 16px;
        }
    }


    h6 {
        font-weight: bold;
    }



    .meeage {
        padding-top: 40px;
    }


    .submit {
        text-align: right;
    }

    button {
        @include button;
        margin-left: auto;
        margin-top: 20px;
    }
}



/* map */

.map {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;

    .container {
        position: relative; 
    }

    iframe {
        width: 100%;
        // position: absolute;
        // left: 0;
        // top: 0;
        // height: 100%;
        border-radius: 15px;
        height: 300px;
        
        @include breakpoint($sm) {
            height: 400px;
        }
        @include breakpoint($md) {
            height: 450px;
        }
        @include breakpoint($xl) {
            height: 500px;
        }
        @include breakpoint($xxl) {
            height: 500px;
        }
        @include breakpoint($xxxl) {
            height: 600px;
        }
    }
}




/*  how to use  */


.how-to-use {
    padding: 50px 0 0 ;
    
    .title {
        text-align: center;
        padding-bottom: 80px;
    }

    .line-inner {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        position: relative;
        .round-img {
            width: 50px;
            height: 50px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 30%;
            top: 0;
            transform: translateY(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        img {
            margin-right: -100%;
        }

        .content {
            width: 100%;
            text-align: center;
            max-width: 70%;
            margin: 0 auto;
            padding-right: 45px;
            
            h6 {
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

