.choose-plan-section {
    padding: 60px 0;
    position: relative;

    .title {
        text-align: center;
        padding-bottom: 50px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 600px;
        height: 600px;
        background: rgba(84, 190, 150, 0.2);
        filter: blur(350px);
        border-radius: 50%;
    }


    .row {
        position: relative;
        z-index: 2;

        &>div {
            &:nth-child(2) {
                .inner-plan {
                    background-color: #54BD95;
                    color: var(--c-white);

                    h3,
                    h2,
                    p,
                    sup {
                        color: var(--c-white);
                    }

                    ul {
                        color: var(--c-black);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 600px;
                        height: 600px;
                        border-radius: 50%;
                        background-color: #6BC2A1;
                        transform: translate(-50%, -30%);
                    }
                }
            }
        }
    }


    .inner-plan {
        border-radius: 20px;
        background-color: #F9FAFB;
        text-align: center;
        box-shadow: 0px 4px 9px 0px #0000000D;
        position: relative;
        overflow: hidden;
        padding: 30px 20px;
        margin-bottom: 30px;

        @include breakpoint($lg) {
            padding: 36px 20px;
            margin-bottom: 0;
        }

        @include breakpoint($xxl) {
            padding: 50px 40px;
        }

        * {
            position: relative;
            z-index: 2;
        }


        h3 {
            font-weight: bold;
            font-size: 30px;
        }

        p {
            margin: 0 auto;
            max-width: 60%;
        }

        h2 {
            position: relative;
            font-weight: bold;
            display: inline-block;
            margin: 20px 0;
            font-size: 50px;
            @include breakpoint($xxl){
                margin: 30px 0;
            }

            sup {
                color: var(--c-text);
                font-size: 14px;
                font-weight: normal;
                position: absolute;
                right: 100%;
                top: 0;
                margin-right: 5px;
            }
        }


        ul {
            padding: 0;
            margin: 0;
            background-color: var(--c-white);
            border-radius: 10px;
            padding: 30px 20px;
            
            @include breakpoint($xl) {
                padding: 30px;
            }

            li {
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;

                img {
                    margin-right: 10px;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

            }
        }


        .link {
            a {
                @include button;
                width: 100%;
            }

            &.btn-border {
                margin-top: 40px;
                a {
                    @include button("white");
                }
            }
        }
    }
}



/* gradient-color css start */

.gradient-color {
    position: relative;
    padding: 60px 0 20px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 600px;
        height: 600px;
        background: rgba(84, 190, 150, 0.2);
        filter: blur(350px);
        border-radius: 50%;
    }


    .container {
        position: relative;
        z-index: 2;
    }

    .full-content {
        background-color: var(--c-white);
        border-radius: 10px;
        border: 1px dashed var(--c-gray);
        padding: 30px 12px;

        @include breakpoint($md) {
            padding: 30px;
        }
    }
}




/* india-map-sec css start */
.india-map-sec {
    padding: 60px 0;
    background-color: var(--c-white);

    .row {
        &>div {
            display: flex;
        }
    }

    .india-map {
        text-align: center;
        width: 100%;
    }


    .col-left-timline,
    .col-right-timline {
        position: relative;
        padding-left: 40px;
        display: flex;
        width: 100%;


        .line {
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #CACFE1;

            &::after,
            &::before {
                content: '';
                position: absolute;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                border: 1px solid #CACFE1;
            }

            &::before {
                left: 0;
                margin-left: -5px;
                bottom: 100%;
            }

            &::after {
                right: 0;
                top: 100%;
                margin-right: -5px;
            }
        }

        ul {
            margin: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 30px 0;

            @include breakpoint($md) {
                padding: 70px 0;
            }

            @include breakpoint($lg) {
                padding: 100px 0;
            }

            li {
                list-style: none;
                position: relative;
                margin: 26px 0;

                @include breakpoint($lg) {
                    margin: 40px 0;
                }

                @include breakpoint($lg) {
                    margin: 50px 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid var(--c-primary);
                    right: calc(100% + 32px);
                    background-color: var(--c-white);
                    top: 0;
                }
            }
        }
    }

    .col-left-timline {
        @include breakpoint($md, down) {
            margin-left: 30px;
        }
    }

    .col-right-timline {
        text-align: right;
        padding-left: 0;
        padding-right: 50px;

        @include breakpoint($md, down) {
            margin-right: 30px;
        }

        .line {
            right: 0;
            left: unset;
        }

        ul {
            li {
                &::after {
                    border: 1px solid var(--c-primary);
                    left: calc(100% + 34px);
                    background-color: var(--c-white);
                    top: 0;
                    transform: translateX(50%);
                }
            }
        }
    }
}